<% if false %>

 <form action="/users" accept-charset="UTF-8" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %> ">
  <label for="username">User name:</label>
  <input type="text" name="user[username]"><br><br>
  <label for="password">Password:</label>
  <input type="password" name="user[password]"><br><br>
  <label for="email">Email:</label>
  <input type="email" name="user[email]"><br><br>
  <input type="submit" value="Submit">
</form>



<%= form_tag("/user", method: "post") do %>
  <%= label_tag(:username, "Username:") %>
  <%= text_field_tag(:username) %>
  <%= label_tag(:password, "Password:") %>
  <%= text_field_tag(:password) %>
  <%= label_tag(:email, "Email:") %>
  <%= text_field_tag(:email) %>
  <%= submit_tag("Submit") %>
<% end %>

<% end %>

<%= form_with url: "/user", method: :post do |form| %>
  <%= form.label :username, "Username:" %>
  <%= form.text_field :username %>
  <%= form.label :password, "Password:" %>
  <%= form.text_field :password %>
  <%= form.label :email, "Email:" %>
  <%= form.text_field :email %>
  <%= form.submit "Submit" %>
<% end %>